<h1>Recuperar contrase単a</h1>
<form
  id="resetPasswordForm"
  onsubmit="return validatePasswords()"
  action="/api/login/reset-password/{{email}}"
  method="POST"
>
  <input
    type="password"
    id="newPassword"
    name="newPassword"
    placeholder="Nueva contrase単a"
    required
  />
  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    placeholder="Repite la contrase単a"
    required
  />

  <button type="submit">Guardar</button>
</form>

<script>
  function validatePasswords() { var newPassword =
  document.getElementById("newPassword").value; var confirmPassword =
  document.getElementById("confirmPassword").value; if (newPassword !==
  confirmPassword) { alert("Las contrase単as no coinciden."); return false; }
  return true; }
</script>